---
---
<!DOCTYPE html>
<html lang=en>
<title>{{page.title}}</title>
<meta charset=utf-8>
<link rel=stylesheet href={{'main.css'|relative_url}}>
  <div id="container"> 

     <nav>
   
            <ul>
              <li> <a href={{'/'|relative_url}}>Home</a></li>
                <li ><a href="members.html" style="color: #D8994C;">Ring Members</a></li>
                <li><a href="directory.html" style="color: #D96159;">Directory</a></li>
                <li><a href="join.html" style="color: #B5387C;">Join</a></li>
              </ul>
          
        </nav>
     
<main>
{{content}}
</main>


  
